<h1>Listing wifi_networks</h1>

<table>
  <tr>
    <th>Ssid</th>
    <th>Password</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Password required</th>
    <th>Score</th>
    <th>Street address</th>
    <th>Postcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wifi_networks.each do |wifi_network| %>
  <tr>
    <td><%= wifi_network.ssid %></td>
    <td><%= wifi_network.password %></td>
    <td><%= wifi_network.lat %></td>
    <td><%= wifi_network.lng %></td>
    <td><%= wifi_network.password_required %></td>
    <td><%= wifi_network.score %></td>
    <td><%= wifi_network.street_address %></td>
    <td><%= wifi_network.postcode %></td>
    <td><%= link_to 'Show', wifi_network %></td>
    <td><%= link_to 'Edit', edit_wifi_network_path(wifi_network) %></td>
    <td><%= link_to 'Destroy', wifi_network, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wifi network', new_wifi_network_path %>
