.register
  %h2
    Edit
    = resource_name.to_s.humanize

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true}) do |f|
    = devise_error_messages!

    %div
      = f.label :first_name
      %br
      = f.text_field :first_name

    %div
      = f.label :last_name
      %br
      = f.text_field :last_name

    %div
      = f.label :biography
      %br
      .textarea
      = f.text_area :biography

    %div
      = f.label :email
      %br
      = f.email_field :email, :autofocus => true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for:
        = resource.unconfirmed_email

    %div
      = f.label :password
      %br
      %i (leave blank if you don't want to change it)
      %br
      = f.password_field :password, :autocomplete => "off"

    %div
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation

    %div
      = f.label :street_address
      %br
      = f.text_field :street_address

    %div
      = f.label :postcode
      %br
      = f.text_field :postcode

    %div
      = f.label :current_password
      %br
      %i (we need your current password to confirm your changes)
      %br
      = f.password_field :current_password

    = image_tag(current_user.user_image.thumb.url)
    %br
    - if current_user.user_image.blank?
      =image_tag "avatar300.png"
    -else
      = image_tag(current_user.user_image.url)
    = f.label :remove_user_image do
      = f.check_box :remove_user_image
    = f.file_field :user_image
    = f.hidden_field :user_image_cache

    %div
      = f.submit "Update", class: 'button'

.register
  %h3 Cancel my account

  %p
    Unhappy?
    = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'button'

