
%h2 User Information
- if @user.user_image
  = image_tag @user.user_image.detail.url
%br
= @user.full_name
%br
= @user.email
%br
= @user.biography
%br
Number of friends:
- if @user == current_user
  = link_to @user.friends.size, friendships_path
- else
  = @user.friends.size
%br
Number of networks:
- if @user == current_user
  = link_to @user.user_networks.size, user_networks_path
- else
  = @user.user_networks.size
%br
- if @user == current_user
  = link_to 'Edit', edit_user_registration_path
= link_to 'Back', user_networks_path


= form_tag user_path, :method => :get do
  =label_tag :postcode
  =text_field_tag :postcode
  =label_tag :distance
  =text_field_tag :distance
  =submit_tag "Search", :name => nil




-unless @users_networks.blank?
  %h2 Your Wi-Fi Networks
  %ul
    -@users_networks.each do |network|
      %li
        %h3
          -unless network.nickname.blank?
            = network.nickname
            ,
          SSID:
          = network.wifi_network.ssid
          , Password:
          = network.wifi_network.password
        %p
          City:
          =network.wifi_network.city
          = link_to 'Edit', edit_user_network_path(network)
          = link_to 'Show', user_network_path(network)
          =link_to 'Remove', network, method: :delete, data: { confirm: 'Are you sure?' }

-unless @users_friends_networks.blank?
  %h2 Wi-Fi Networks Shared By Your Friends
  %h4 (excludes those already in your networks)
  %ul
    -@users_friends_networks.each do |wifi_network|
      %li
        %h3
          SSID:
          = wifi_network.ssid
          , Password:
          = wifi_network.password
        %p
          City:
          =wifi_network.city
          = link_to "Add To Your Networks", new_user_network_path(wifi_network_id: wifi_network.id)
          = link_to 'Show', wifi_network_path(wifi_network)

-unless @public_networks.blank?
  %h2 Wi-Fi Networks Shared Publicly By All Uni-Fi Users
  %h4 (excludes those already in your networks)
  %ul
    -@public_networks.each do |wifi_network|
      %li
        %h3
          SSID:
          = wifi_network.ssid
          , Password:
          = wifi_network.password
        %p
          City:
          =wifi_network.city
          = link_to 'Show', wifi_network_path(wifi_network)
= link_to 'Back', user_networks_path


