%h2 User Information
= image_tag @user.user_image.detail.url
%br
= @user.full_name
%br
= @user.email
%br
= @user.biography
%br
Number of friends:
- if @user == current_user
  = link_to @user.friends.size, friendships_path
- else
  = @user.friends.size
%br
Number of networks:
- if @user == current_user
  = link_to @user.user_networks.size, user_networks_path
- else
  = @user.user_networks.size
%br
- if @user == current_user
  = link_to 'Edit', edit_user_registration_path
= link_to 'Back', user_networks_path


= form_tag user_path, :method => :get do
  =label_tag :postcode
  =text_field_tag :postcode
  =label_tag :distance
  =text_field_tag :distance
  =submit_tag "Search", :name => nil




-unless @users_networks.blank?
  %h2 Your Wi-Fi Networks
  %ul
    -@users_networks.each do |network|
      %li
        %h3
          -unless network.nickname.blank?
            = network.nickname
            ,
          SSID:
          = network.wifi_network.ssid
          , Password:
          = network.wifi_network.password
        %p
          Address:
          =network.address
        %p
          =network.sharing_string
        %p
          =network.rating_string
        %p
          Details for this Wi-Fi network were last updated
          = distance_of_time_in_words(Time.now, network.wifi_network.updated_at)
          ago
          = link_to 'Edit', edit_user_network_path(network)

-unless @users_friends_networks.blank?
  %h2 Wi-Fi Networks Shared By Your Friends
  %h4 (excludes those already in your networks)
  %ul
    -@users_friends_networks.each do |wifi_network|
      %li
        %h3
          SSID:
          = wifi_network.ssid
          , Password:
          = wifi_network.password
        %p
          Address:
          =wifi_network.full_street_address
        %p
          Shared By:
          %ul
            -wifi_network.user_networks.each do |user_network|
              -if user_network.shareable_with(current_user)
                %li
                  ="#{user_network.user.full_name} (rating: #{user_network.user_score} out of 5)"

        %p
          =wifi_network.rating_string
        %p

          Details for this Wi-Fi network were last updated
          = distance_of_time_in_words(Time.now, wifi_network.updated_at)
          ago
          = link_to "Add To Your Networks", new_user_network_path(wifi_network_id: wifi_network.id)

-unless @public_networks.blank?
  %h2 Wi-Fi Networks Shared Publicly By All Uni-Fi Users
  %h4 (excludes those already in your networks)
  %ul
    -@public_networks.each do |wifi_network|
      %li
        %h3
          SSID:
          = wifi_network.ssid
          , Password:
          = wifi_network.password
        %p
          Address:
          =wifi_network.full_street_address
        %p
          =wifi_network.rating_string
        %p
          Details for this Wi-Fi network were last updated
          = distance_of_time_in_words(Time.now, wifi_network.updated_at)
          ago




