.friends
.container_friends
  %h2
    = "#{@user.full_name}'s Profile"
  .friend_info
    .friend_image
      - if @user.user_image.blank?
        =image_tag "avatar300.png"
      - else
        = image_tag @user.user_image.detail.url
      %br


    .friend
      = @user.email
      %p
        = @user.biography
      %p
        Number of friends:
        - if @user == current_user
          = link_to @user.friends.size, friendships_path
        - else
          = @user.friends.size
      %p
        Number of networks:
        - if @user == current_user
          = link_to @user.user_networks.size, user_networks_path
        - else
          = @user.user_networks.size
      %p.links
        - if @user == current_user
          = link_to 'Edit Profile', edit_user_registration_path
        -unless @user == current_user
          = link_to 'Back to Friends', friendships_path

  .search_form
    %h3
      Search your networks
      -if @user == current_user
        = form_tag user_path, :method => :get do
          =label_tag :postcode, "Place"
          =text_field_tag :postcode
          =label_tag :distance
          =text_field_tag :distance
          =submit_tag "Search", :name => nil, :class => 'button', :id => 'search_button'


    .networks_container
      -unless @users_networks.blank?
        %h2.network Your Wi-Fi Networks
        %ul.network_list
          -@users_networks.each do |network|
            %li.networks
              %h3
                -unless network.nickname.blank?
                  = network.nickname
                %br
                SSID:
                = network.wifi_network.ssid
                %br
                -if network.wifi_network.password_required == true
                  Password:
                  = network.wifi_network.password
                -else
                  This network does not require a password
              %p
                City:
                =network.wifi_network.city
                %br
                .links
                  = link_to 'Edit', edit_user_network_path(network)
                  |
                  = link_to 'Show', user_network_path(network)
                  |
                  =link_to 'Remove', network, method: :delete, data: { confirm: 'Are you sure?' }

      -unless @users_friends_networks.blank?
        %h2.network Wi-Fi Networks Shared By Your Friends
        %h4.network (excludes those already in your networks)
        %ul.network_list
          -@users_friends_networks.each do |wifi_network|
            %li.networks
              %h3
                SSID:
                = wifi_network.ssid
                %br
                - if wifi_network.password_required == true
                  Password:
                  = wifi_network.password
                  %br
                - else
                  This network does not require a password
              %p
                City:
                =wifi_network.city
                %br
                .links
                  = link_to "Add To Your Networks", new_user_network_path(wifi_network_id: wifi_network.id)
                  |
                  = link_to 'Show', wifi_network_path(wifi_network)

      -unless @public_networks.blank?
        %h2.network Wi-Fi Networks Shared Publicly By All Uni-Fi Users
        %h4.network (excludes those already in your networks)
        %ul.network_list
          -@public_networks.each do |wifi_network|
            %li.networks
              %h3
                SSID:
                = wifi_network.ssid
                - if wifi_network.password_required == true
                  , Password:
                  = wifi_network.password
                - else
                  This network does not require a password
              %p
                City:
                =wifi_network.city
                .links
                  = link_to 'Show', wifi_network_path(wifi_network)
      .links#networks
        -if @user == current_user
          = link_to 'Back to Map', user_networks_path



