-# = search_form_for @q do |f|
-#   = f.label :first_name_cont
-#   = f.text_field :first_name_cont
-#   = f.label :user_score_gteq, "Score between"
-#   = f.text_field :user_score_gteq
-#   = f.label :user_score_gteq, "and"
-#   = f.text_field :user_score_gteq
-#   = f.submit

%table
  - if @friendships.any?
    - @friendships.each do |friend|
      %tr
        -if friend.user_image != nil
          %td
            = link_to (image_tag friend.user_image.thumb.url), user_path(friend.id)
        %td
          = friend.first_name
        %td
          = friend.last_name
        %td
          = friend.biography
        %td
          Networks:
          = friend.user_networks.size
        %td
          Friends:
          = friend.friends.size
        %td
          = link_to "Defriend", defriend_path(friend)
  - else
    %p You have no friends.


= link_to 'Find New Friends', new_friendship_path
= link_to 'Back', user_networks_path