= form_tag friendships_path, :method => :get do
  =label_tag :name
  =text_field_tag :name, nil, {value: params[:name]}
  =submit_tag "Search"


- if @friendships.any?
  %ul
    - @friendships.each do |friend|
      %li
      -unless friend.user_image.blank?
        = image_tag friend.user_image.thumb.url
      = link_to "#{friend.full_name}", user_path(friend.id)
      Networks:
      = friend.user_networks.size
      Friends:
      = friend.friends.size
      = link_to "Defriend", defriend_path(friend)
- else
  - if params[:name]
    %p No results match your search
  -else
    %p You have no friends.


= link_to 'Find New Friends', new_friendship_path
= link_to 'Back', user_networks_path