.container_friends
  %h2 User List

  = search_form_for @q, :url => url_for(:friendships_controller => "q", :action => "new") do |f|
    = f.text_field :first_name_or_last_name_or_email_cont
    = f.submit "Search", :class => 'button'

  %ul.new_friends
    -@users.each do |user|
      - unless current_user.friends_ids.include? user.id
        - unless user == current_user
          %li.friends#new_friend
            - unless user.user_image.blank?
              = image_tag user.user_image.thumb.url
              %br
              = link_to "#{user.full_name}", user_path(user)
              %br
              =mail_to user.email
              %br
              = link_to "Add Friend", new_friend_path(user)

  .friend_links
    = link_to 'Back', friendships_path
