%h2 User List

= search_form_for @q, :url => url_for(:friendships_controller => "q", :action => "new") do |f|
  = f.text_field :first_name_or_last_name_or_email_cont
  = f.submit "Search Name"

%ul
  -@users.each do |user|
    - unless current_user.friends_ids.include? user.id
      - unless user == current_user
        %li
          - unless user.user_image.blank?
            = image_tag user.user_image.thumb.url
          %p
            = link_to "#{user.full_name}", user_path(user)
            |
            =mail_to user.email
            |
            = link_to "Add Friend", new_friend_path(user)


= link_to 'Back', friendships_path
