<%= form_for(@user_network) do |f| %>
  <% if @user_network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_network.errors.count, "error") %> prohibited this user_network from being saved:</h2>

      <ul>
      <% @user_network.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :wifi_network_id %><br />
    <%= f.number_field :wifi_network_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_sharing_pref %><br />
    <%= f.text_field :user_sharing_pref %>
  </div>
  <div class="field">
    <%= f.label :user_score %><br />
    <%= f.number_field :user_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
