-unless @proposers_of_unconfirmed_friendships.blank?
  -@proposers_of_unconfirmed_friendships.each do |proposer|
    %p Unconfirmed Friendships:
    = "#{proposer.first_name} #{proposer.last_name}"
    = link_to 'Confirm', confirm_friend_path(proposer)
    = link_to 'Deny', deny_friend_path(proposer)

  :javascript
    window.user_params = #{@params.to_json}

= link_to 'Your Friends', friendships_path
= link_to 'Add A Network', new_user_network_path
= link_to 'Your Account', user_path(current_user)

= form_tag user_networks_path, :method => :get do
  =label_tag :postcode
  =text_field_tag :postcode, nil, { id: 'postcode' }
  =label_tag :distance
  =text_field_tag :distance, nil, {id: "distance"}
  =submit_tag "Search", :name => nil, id: "submit"

#map-canvas






