-if current_user.friends.any?
  -@proposers_of_unconfirmed_friendships.each do |proposer|
    %p Unconfirmed Friendships:
    = "#{proposer.first_name} #{proposer.last_name}"
    = link_to 'Confirm', confirm_friend_path(proposer)
    = link_to 'Deny', deny_friend_path(proposer)
%br

-@user_networks.each do |user_network|
  %table
    %tr
      %td
        = user_network.nickname
      %td
        = user_network.wifi_network_id
      %td
        = user_network.user_id
      %td
        = user_network.user_sharing_pref
      %td
        = user_network.user_score
      %td
        = link_to 'Show', user_network
      %td
        = link_to 'Edit', edit_user_network_path(user_network)
      %td
        = link_to 'Destroy', user_network, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New User network', new_user_network_path
= link_to 'Friends', friendships_path
