%h3
  - unless @user_network.nickname.blank?
    = @user_network.nickname
  SSID:
  = @user_network.wifi_network.ssid
  Password:
  = @user_network.wifi_network.password
%p
  Address:
  = @user_network.address
%p
  = @user_network.sharing_string
%p
  = @user_network.rating_string
%p
  Details for this Wi-Fi network were last updated
  = distance_of_time_in_words(Time.now, @user_network.wifi_network.updated_at)
  ago
  = link_to 'Edit', edit_user_network_path(@user_network)
