.container_network
  %h3
    - unless @user_network.nickname.blank?
      = @user_network.nickname
      %br
    SSID:
    = @user_network.wifi_network.ssid
    %br
    Password:
    = @user_network.wifi_network.password
    %br
  %p
    Address:
    = @user_network.address
    %br
  %p
    = @user_network.sharing_string
    %br
  %p
    = @user_network.rating_string
    %br
  %p
    Details for this Wi-Fi network were last updated
    = distance_of_time_in_words(Time.now, @user_network.wifi_network.updated_at)
    ago
    %br
    .links
      = link_to 'Edit', edit_user_network_path(@user_network)
