!!!
%html
  %head
    %title
      UnifiApp
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE']}&sensor=false"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #friend_popup
    .nav
      .nav_links
        = link_to 'Home', user_networks_path
        - if current_user
          = link_to 'Your Friends', friendships_path
          = link_to 'Add A Network', new_user_network_path
          = link_to 'Your Account', user_path(current_user)
      .login
        - if current_user
          = current_user.email
          = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign In", new_user_session_path
          = link_to "Register", new_user_registration_path



    .container
      #flash
        - flash.each do |name, message|
          %div{:class => "flash-message flash-message-#{name}"}
            - "login_status"
            = message
      =yield

    = hidden_field_tag :resource_id, content_for(:resource_id)