!!!
%html
  %head
    %title
      UnifiApp
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE']}&sensor=false"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: "#{"map" if @map}"}
    #friend_popup
    .nav
      - if current_user
        .nav_links
          = link_to image_tag( 'home.png' ), user_networks_path
          = link_to image_tag( 'user-group.png' ), friendships_path
          #logo
            = link_to image_tag( 'logo.svg' ), user_networks_path
          = link_to image_tag( 'wifi_add.png' ), new_user_network_path
          = link_to image_tag( 'user.png' ), user_path(current_user)
      - else
        #logo
          = link_to image_tag( 'logo.svg' ), user_networks_path
      .login.links
        - if current_user
          = current_user.email
          = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign In", new_user_session_path
          = link_to "Register", new_user_registration_path

    .container
      #flash
        - flash.each do |name, message|
          %div{:class => "flash-message flash-message-#{name}"}
            - "login_status"
            = message
      =yield

= hidden_field_tag :resource_id, content_for(:resource_id)
%footer
  %p
    Created by Luke, Emile and Andrea

